### NodeJS ###
package-lock.json
node_modules/*
.env

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json